.custom-header[data-v-694d24c8]{height:60px;box-shadow:3px 3px 5px 2px #9e9e9e;background-color:#31275f;color:#fff}.fade-enter-active,.fade-leave-active{transition:opacity .3s}.fade-enter,.fade-leave-to{opacity:0}.c-main{padding-top:1rem}